apiVersion: v1
kind: Service
metadata:
  name: ms-bank
spec:
  ports:
  - port: 8083
  selector:
    app: ms-bank
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-bank
spec:
  selector:
    matchLabels:
      app: ms-bank
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ms-bank
    spec:
      containers:
      - name: ms-bank
        image: ms-bank
        envFrom:
          - configMapRef:
              name: aline-configmap
          - secretRef:
              name: aline-secrets
        ports:
        - containerPort: 8083
          name: ms-bank
