apiVersion: v1
kind: Service
metadata:
  name: ms-gateway
  namespace: dev
  labels:
    app: ms-gateway
spec:
  type: NodePort
  ports:
  - port: 8080
    nodePort: 8080
  selector:
    app: ms-gateway
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-gateway
  namespace: dev
spec:
  selector:
    matchLabels:
      app: ms-gateway
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ms-gateway
    spec:
      containers:
      - name: ms-gateway
        image: localhost:5001/ms-gateway:0.1
        envFrom:
          - configMapRef:
              name: aline-configmap
          - secretRef:
              name: aline-secrets
        ports:
        - containerPort: 8080
          name: ms-gateway