- hosts: my_hosts
  vars_files: 
  - ./kubernetes/env/aline-env.yaml
  tasks:
  # ADMINER
  - name: create ADMINER YAML from template
    template: src=./kubernetes/adminer-deployment.yaml.template dst=./kubernetes/adminer-deployment.yaml
  - name: apply ADMINER in Kubernetes
    command: kubectl apply -f ./kubernetes/db-adminer.yaml

  #  MYSQL
  - name: create MYSQL YAML from template
    template: src=./kubernetes/mysql-deployment.yaml.template dst=./kubernetes/mysql-deployment.yaml
  - name: apply MYSQL in Kubernetes
    command: kubectl apply -f ./kubernetes/mysql-deployment.yaml

  #  BANK
  - name: create BANK YAML from template
    template: src=./kubernetes/bank-deployment.yaml.template dst=./kubernetes/bank-deployment.yaml
  - name: apply BANK in Kubernetes
    command: kubectl apply -f ./kubernetes/bank-deployment.yaml

  #  TRANSACTION
  - name: create TRANSACTION YAML from template
    template: src=./kubernetes/transaction-deployment.yaml.template dst=./kubernetes/transaction-deployment.yaml
  - name: apply TRANSACTION in Kubernetes
    command: kubectl apply -f ./kubernetes/transaction-deployment.yaml

  #  UNDERWRITER
  - name: create UNDERWRITER YAML from template
    template: src=./kubernetes/underwriter-deployment.yaml.template dst=./kubernetes/underwriter-deployment.yaml
  - name: apply TRANSACTION in Kubernetes
    command: kubectl apply -f ./kubernetes/underwriter-deployment.yaml

  #  USER
  - name: create USER YAML from template
    template: src=./kubernetes/user-deployment.yaml.template dst=./kubernetes/user-deployment.yaml
  - name: apply TRANSACTION in Kubernetes
    command: kubectl apply -f ./kubernetes/user-deployment.yaml

  #  GATEWAY
  - name: create GATEWAY YAML from template
    template: src=./kubernetes/gateway-deployment.yaml.template dst=./kubernetes/gateway-deployment.yaml
  - name: apply TRANSACTION in Kubernetes
    command: kubectl apply -f ./kubernetes/gateway-deployment.yaml